/* Basic and General styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 15pt;
  line-height: 1.5;
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
  overflow-y: scroll;
}

#nav-bg {
  margin: 0;
  padding: 0.25rem 1rem;
  font-family: "Montserrat", sans-serif;
  background: #208c5d;
  color: #fff;
}

#top-nav {
  max-width: 40rem;
  margin: auto;
  text-align: center;
}

#top-nav a {
  color: #fff;
  text-decoration: none;
}

#top-nav a:hover {
  color: #000;
  background-color: #fff;
}

a#logo {
  color: #f2deff;
}

a:hover#logo {
  color: #000;
}

.nav-link:before {
  content: "| ";
}

.nav-link {
  display: block;
}

#content {
  max-width: 35rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.75rem;
}

.small p {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

ul.double-spaced li {
  margin-top: 1rem;
}

.youtube {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img,
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 80vh;
}

video {
  margin-bottom: 1rem;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #679b9b;
  text-transform: uppercase;
  font-size: 14px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #679b9b;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #679b9b;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active {
  color: #ff9a76;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: #ff9a76;
  color: white;
}


#multipageform {
	 width: 400px;
	 margin: 50px auto;
	 text-align: center;
	 position: relative;
}
 #multipageform fieldset {
	 background: white;
	 border: 0 none;
	 border-radius: 3px;
	 box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	 padding: 20px 30px;
	 box-sizing: border-box;
	 width: 80%;
	 margin: 0 10%;
	 position: relative;
}
 #multipageform fieldset:not(:first-of-type) {
	 display: none;
}
 #multipageform input, #multipageform textarea {
	 padding: 15px;
	 border: 1px solid #ccc;
	 border-radius: 3px;
	 margin-bottom: 10px;
	 width: 100%;
	 box-sizing: border-box;
	 font-family: montserrat;
	 color: #2c3e50;
	 font-size: 13px;
}
 #multipageform input:focus, #multipageform textarea:focus {
	 border-color: #679b9b;
	 outline: none;
	 color: #637373;
}
 #multipageform .action-button {
	 width: 100px;
	 background: #ff9a76;
	 font-weight: bold;
	 color: #fff;
	 transition: 150ms;
	 border: 0 none;
	 border-radius: 1px;
	 cursor: pointer;
	 padding: 10px 5px;
	 margin: 10px 5px;
}
 #multipageform .action-button:hover, #multipageform .action-button:focus {
	 box-shadow: 0 0 0 2px #f08a5d, 0 0 0 3px #ff9 76;
	 color: #fff;
}
 #multipageform .fs-title {
	 font-size: 15px;
	 text-transform: uppercase;
	 color: #2c3e50;
	 margin-bottom: 10px;
}
 #multipageform .fs-subtitle {
	 font-weight: normal;
	 font-size: 13px;
	 color: #666;
	 margin-bottom: 20px;
}
 







